@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-lightest: rgb(255, 255, 233);
  --color-light: rgb(255, 254, 206);
  --color-yellow: rgb(253, 225, 66);
  --color-light-yellow: rgb(255, 241, 161);
  --color-dark: rgb(216, 214, 112);
  --color-darkest: rgb(171, 170, 59);
  --color-accent-base: rgb(201, 135, 175);
  --color-accent-dark: rgb(170, 88, 138);
  --color-accent-darkest: rgb(135, 46, 100);
  --color-danger: rgb(247, 73, 73);
  --color-danger-dark: rgb(186, 31, 31);
  --color-orange: rgb(243, 152, 49);
  --color-dark-orange: rgb(208, 117, 14);
  --color-orange-tr-5: rgba(243, 153, 49, 0.9);
  --color-green: rgb(43, 105, 1);
  --color-grey-tr: rgba(243, 153, 49, 0.2);
  --color-grey-tr-5: rgba(131, 131, 131, 0.8);
  --color-grey-tr-7: rgba(131, 131, 131, 1);
  /* react */
  --background-start-rgb: 249, 246, 235;
  --background-end-rgb: 159, 159, 147;
  /* react day picker */
  --rdp-cell-size: 100px;
  --rdp-caption-font-size: 30px;
  --rdp-accent-color: indigo;
  --rdp-background-color: gray;
  --rdp-accent-background-color: red;
}
.rdp-root {
  /* react day picker */
  --rdp-cell-size: 100px;
  --rdp-caption-font-size: 30px;
  --rdp-accent-color: indigo;
  --rdp-background-color: gray;
  --rdp-accent-background-color: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, var(--color-light)),
    var(--color-lightest);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  margin: 3.2rem auto 1.6rem;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #ff3d00 #ff3d00;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.mapboxgl-canvas-container {
  height: 100vh;
}

.newLocation__popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-yellow);
  padding: 8px;
}
.newLocation__popup-form > * {
  padding: 4px;
}
.newLocation__input,
.newLocation__popup-name,
.newLocation__popup-address,
.newLocation__popup-desc {
  margin: 2px;
  padding: 5px;
  width: 90%;
  font-size: 15px;
}
.newLocation__add-btn {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--color-yellow);
  font-size: 18px;
  text-align: center;
}
.location-description {
  background-color: var(--color-light-yellow);
  padding: 10px;
}
.location-description h2 {
  font-size: 16px;
  font-weight: 500;
}
